
#Headers {
    padding-left: 20px;
    padding-bottom: 20px;
    clear:both;
}

#Headers table {
	table-layout: fixed;
}

#Data {
    padding-left: 20px;
    clear:both;
}

#Data table {
	table-layout: fixed;
}

.gm-agg-col-hdr {
    width: 250px;
    font-weight: normal;
    font-size: 0.75em;
    color: #777;
    padding-right: 10px;
word-break: break-all;
max-width: 250px;
}

.gm-agg-col-hdr a:visited {
    font-weight: normal !important;
    font-size: 0.75em !important;
    color: #777 !important;
}

.gm-agg-col-hdr-small a:visited {
    font-weight: normal !important;
    font-size: 0.75em !important;
    color: #777 !important;
}

.gm-agg-col-hdr-small {
    width: 180px;
    font-weight: normal;
    font-size: 0.75em;
    color: #777;
    padding-right: 10px;
word-break: break-all;
max-width:180px;
}

.gm-agg-col-hdr-icn {
    width: 25px;
}

.gm-agg-col-data {
    width: 250px;
    padding-right: 10px;
word-break: break-all;
max-width: 250px;
}

.gm-agg-col-data-small {
    width: 180px;
    padding-right: 10px;
word-break: break-all;
max-width: 180px;
}

.gm-agg-col-data-icn {
    width: 25px;
}

.ms-srch-item {
    width: 100% !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-bottom: 0px !important;
}

a .ms-link:visited {
    font-weight: normal !important;
    font-size: 0.75em !important;
    color: #777 !important;
}

.ms-srch-hover-outerContainer {
	left: 50% !important;
	width: 400px !important;
}